<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UMemberDAO">

	<select id="getMember" resultType="java.util.LinkedHashMap">
		SELECT * FROM member
		ORDER BY ID ASC
	</select>
	
	<select id="getQnaBoard" resultType="java.util.LinkedHashMap">
		SELECT * FROM qna_board
		ORDER BY QNA_NO desc
		LIMIT 10
	</select>
	
	<select id="getQnaPagingBoard" resultType="Map">
		SELECT * FROM qna_board
		ORDER BY QNA_NO desc
		
	</select>
	 
	<select id="getUser" parameterType="Map" resultType="Map">
		SELECT * FROM member
		WHERE ID = #{id}
		AND PASSWORD = #{pw}
	</select>
	
	<select id="userCnt" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM member
		WHERE ID = #{id}
	</select>
	
	<insert id="insertUser" parameterType="Map">
		INSERT INTO member VALUES(#{id}, #{password}, #{name}, #{phone}, #{email}, #{gender}, #{birth}, now())
	</insert>
	
	<select id="getQnaDetail" parameterType="Map" resultType="Map">
		SELECT * FROM qna_board
		WHERE QNA_NO = #{qnaNo}
	</select>
	
	<select id="getQnaReply" parameterType="Map" resultType="Map">
		SELECT * FROM qna_reply
		WHERE QNA_REPLY_BOARD_NO = #{qnaNo}
		ORDER BY QNA_REPLY_DATE asc
	</select>
	
	<insert id="insertReply" parameterType="Map">
		INSERT INTO qna_reply VALUES(null, #{replyBoardNo}, #{replyWriter}, #{replyContents}, now())
	</insert>
</mapper>